{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["airbnb"],
  "globals": {
    "module": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
